.dayContain {
    width: 306px;
    height: 366px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 149, 255, 0.6);
    box-shadow: 6px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding-top: 24px;
}

.dayTextNonLessons {
    color: #0095FF99;
    text-align: center;
    margin-top: 145px;
}

.dayName {
    text-align: left;
    margin: 20px 0 0 5px;
    padding: 0;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 143%;
    /* identical to box height, or 29px */

    letter-spacing: 0.17px;

    color: rgba(0, 149, 255, 0.6) !important;
}

.dayPlace {
    width: 308px;
    height: 500px;
    margin: 20px;
    display: flex;
    flex-direction: column;

}