.exMark {
    border: none;
    width: 30px;
    background-color: green;
    color: #FFFFFF;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;

}

.goodMark {
    border: none;
    width: 30px;
    background-color: greenyellow;
    color: #FFFFFF;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;

}

.midMark {
    border: none;
    width: 30px;
    background-color: orange;
    color: #FFFFFF;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;

}

.badMark {
    border: none;
    width: 30px;
    background-color: red;
    color: #FFFFFF;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;

}

.late {
    border: none;
    width: 30px;
    background-color: orange;
    color: #FFFFFF;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;

}

.sick {
    border: none;
    width: 30px;
    background-color: #007DFF;
    color: #FFFFFF;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;

}

.default {
    border: none;
    width: 30px;
    background-color: white;
    color: black;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}

.tCellInp {
    padding: 0 10px 0 10px;
}

.tCellInp:focus {
    background-color: rgba(0, 149, 255, 0.52);
}