.mainBlock{
     width: 625px;
    height: 800px;
    margin: 160px auto;
    border: 1px solid #1E8BFD;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.dataText{
    width: 415px;
    height: 46px;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 143%;
    /* or 37px */
    display: flex;
    align-items: center;
    text-align: center;

    color: rgba(0, 125, 255, 0.7);

}
.mainBlock .inpData{
     margin-top: 42px;
}
.mainBlock .buttonData{
    margin-top: 42px;
    border: #007DFF 1px solid;
}

.mainBlock .buttonData:hover{
    margin-top: 42px;
    border: #007DFF 1px solid;
    color: #FFFFFF;
    background-color: #007DFF;
}