.but {
    align-content: flex-end;
    width: auto;
    height: 50px;
    margin-top: 10px !important;
}

.forma {
    width: 100%;
    height: 2000px;
}

.table {
    margin: 20px 40px 20px 20px;
    width: auto;
    height: 577px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.inp {
    text-align: center;
    width: 15px;
    height: 100%;
    outline: none;
    border: none;
    background-color: rgba(66, 215, 243, 0);
    font-size: large;
    color: green;
}

/* */
.inp:focus {
    background-color: wheat;
    border-radius: 7px;
}

.tableCell {
    width: 50px;
}

.markSlider {
    width: 500px !important;
    margin-left: auto;

}
