.groupContain {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin: 0 auto;
    height: auto;
    justify-content: center;
}

.groupBlock {
    background-color: #0095FFDB;
    flex-basis: 25%;
    min-width: 280px;
    height: min-content;
    border-radius: 20px;
    box-shadow: 8px 6px 8px rgba(0, 0, 0, 0.25);
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 50px;
    margin: 0 20px 40px 0;

}

.groupBlock:hover {
    color: #0095FFDB;
    background-color: white;
    border: 1px solid #0095FFDB;
    transition: .3s ease all;
}

.groupText {
    padding: 160px 0 184px 0;
    color: white;
    font-weight: bold;
    font-size: 50px;
    margin: 0;
}

.groupText:hover {
    color: #0095FFDB;

}