.pageContain {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.pageIcon {
    color: #0095FFDB;
    margin: 23px 5px 0 5px;
}

.pageText {
    color: #0095FFDB;
    margin-bottom: 0;
}